* {
  font-size: 100%;
  font-family: Lato;
 }

.todo-list-container {
  padding: 0px 16px;
  font-family: Lato;
  height: 100%;
  width: 90%;
}

.todo-title {
  margin-bottom: 4px;
  font-size: 18px;
  color: #043263;
}

.todo-form {
  width: 100%;
}

.todo-width {
  width: 80%;
}

.taskComplete {
  text-decoration: line-through;
}

.todoStatus {
  text-align: right;
}