<div class="workday-container" fxLayout="column" fxLayoutAlign="space-evenly start">
    <div class="list-item">
        <a href="https://www.workday.com/" target="_blank">
            <button mat-icon-button>
                <mat-icon matBadge="7" matBadgeColor="warn">inbox</mat-icon>
            </button> Inbox </a>
    </div>

    <mat-divider class="divider"></mat-divider>

    <div class="list-item">
        <a href="https://www.workday.com/" target="_blank">
            <button mat-icon-button>
                <mat-icon>account_box</mat-icon>
            </button>Personal Information</a>
    </div>

    <mat-divider class="divider"></mat-divider>
    
    <div class="list-item">
        <a href="https://www.workday.com/" target="_blank">
            <button mat-icon-button>
                <mat-icon>trending_up</mat-icon>
            </button> Promotions</a>
    </div>

    <mat-divider class="divider"></mat-divider>
    
    <div class="list-item">
        <a href="https://www.workday.com/" target="_blank">
            <button mat-icon-button>
                <mat-icon>payment</mat-icon>
            </button>Pay</a>
    </div>

    <mat-divider class="divider"></mat-divider>
    
    <div class="list-item">
        <a href="https://www.workday.com/" target="_blank">
            <button mat-icon-button>
                <mat-icon matBadge="2" matBadgeColor="warn">assessment</mat-icon>
            </button>Performance</a>
    </div>

    <mat-divider class="divider"></mat-divider>
    
    <div class="list-item">
        <a href="https://www.workday.com/" target="_blank">
            <button mat-icon-button>
                <mat-icon>flight_takeoff</mat-icon>
            </button>Absence</a>
        </div>
</div>