<gridster class="widget-grid" [options]="options">

  <gridster-item class="grid-item-elevation" [item]="dashboard[0]">
    <app-up-meeting></app-up-meeting>
  </gridster-item>

  <gridster-item class="grid-item-elevation" [item]="dashboard[1]">
    <app-todo-list></app-todo-list>
  </gridster-item>

  <gridster-item class="grid-item-elevation" [item]="dashboard[2]">
    <app-jira-component></app-jira-component>
  </gridster-item>

  <gridster-item class="grid-item-elevation" [item]="dashboard[3]">
    <app-mandatory></app-mandatory>
  </gridster-item>

  <gridster-item class="grid-item-elevation" [item]="dashboard[4]">
    <app-auto-email></app-auto-email>
  </gridster-item>

  <gridster-item class="grid-item-elevation" [item]="dashboard[5]">
    <app-workday></app-workday>
  </gridster-item>

  <gridster-item class="grid-item-elevation" [item]="dashboard[6]">
    <app-weather-widget></app-weather-widget>
  </gridster-item>

  <gridster-item class="grid-item-elevation" [item]="dashboard[7]">
    <app-stock></app-stock>
  </gridster-item>

  <gridster-item class="grid-item-elevation" [item]="dashboard[8]">
    <app-twitterfeed></app-twitterfeed>
  </gridster-item>

  <gridster-item class="grid-item-elevation" [item]="dashboard[9]">
    <app-bookmarks></app-bookmarks>
  </gridster-item>

</gridster>