<mat-card>
  BOOKMARKS
  <!-- <button mat-icon-button color="primary">
        <mat-icon aria-label="Example icon-button with a heart icon">add_circle_outline</mat-icon>
    </button> -->
  <mat-list role="list">
    <mat-list-item role="listitem">
      <button mat-icon-button color="primary">
        <mat-icon aria-label="Example icon-button with a heart icon">star_rate</mat-icon>
      </button>
      <a href="http://www.google.com" target="_blank">
        <button mat-button color="primary">Google</button>
      </a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      <button mat-icon-button color="primary">
        <mat-icon aria-label="Example icon-button with a heart icon">star_rate</mat-icon>
      </button>
      <a href="https://github.com/Eduardo-Vargas" target="_blank">
        <button mat-button color="primary">Dashboard</button>
      </a>
    </mat-list-item>
    <!-- <mat-divider></mat-divider>
          <mat-list-item role="listitem">
              <button mat-icon-button color="primary">
                  <mat-icon aria-label="Example icon-button with a heart icon">star_rate</mat-icon>
                </button>
            <a href="https://www.wikipedia.org/" target="_blank"><button mat-button color="primary">Wiki</button></a>
          </mat-list-item> -->
  </mat-list>
</mat-card>
