

<table class="stock-card">
  <tr>
    <td>
      <p class="stock">TST</p>
    </td>
    <td fxLayoutAlign="center center">
      <!-- <div class="change-container" fxLayout="column" fxLayoutAlign="space-evenly center"> -->
      <div>
        <p class="price">503.54</p>
        <mat-divider style="height: 3px;"></mat-divider>
      </div>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <p class="change" fxLayout="row" fxLayoutAlign="center center">
        <mat-icon class="stock-icon">arrow_downward</mat-icon>
        0.66%
      </p>
    </td>
  </tr>
</table>
